<template lang="pug">
  q-list
    label-navigation-item(
      :title="$t('all')"
      id="ALL"
      :loading="false"
      :count="total"
      @click="onClick('ALL')"
    )
    q-separator
    label-navigation-item(
      v-for="(item, key) in myItems"
      v-bind="item"
      :loading="loading"
      :active="key === selectedId"
      :key="key"
      :id="key"
      @click="onClick"
      @delete="onDelete"
    )
    q-separator
    q-item.text-capitalize(clickable v-ripple @click="onClickAdd")
      q-item-section(avatar)
        q-icon(name="ion-add-circle-outline")
      q-item-section
        template(v-if="showAddInput")
          q-input(
            v-model="newLabelName"
            autofocus dense borderless
            @blur="onBlurAdd"
            :placeholder="$t('add-label-name')"
          )
        template(v-else)
          span {{$t('add')}}
</template>

<i18n src="./LabelNavigation.json"/>

<style lang="stylus" scoped>
</style>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator'
  import {Item} from './types'

  /**
   * @displayName Label Navigation
   */
  @Component({
    components: {
      LabelNavigationItem: () =>
        (import('src/components/label-navigation/LabelNavigationItem.vue')),
    },
  })
  export default class LabelNavigation extends Vue {
    @Prop() items?: Record<string, Item>
    @Prop({default: true, type: Boolean}) loading: boolean
    @Prop({default: 0, type: Number}) total: number
    @Prop({default: 4}) placeholderCount: number

    selectedId: string | null = null
    showAddInput: boolean = false
    newLabelName: string | null = null

    get myItems() {
      const {items} = this
      if(items) {
        return items
      }
      return {}
    }

    onDelete(labelId) {
      this.$emit('delete', labelId)
    }

    onClickAdd(event) {
      // detail 0 = enter 1 = click
      const {detail} = event
      const {newLabelName} = this
      if(detail) {
        this.showAddInput = true
        return
      }
      if(newLabelName) {
        this.$emit('create', newLabelName)
      }
      this.newLabelName = null
      this.showAddInput = false
    }

    onBlurAdd() {
      this.showAddInput = false
    }

    onClick(id: string) {
      this.selectedId = id
      this.$emit('click', id)
    }
  }
</script>
