<template lang="pug">
  q-slide-item(left-color="negative" @left="onDelete")
    template(#left)
      span {{$t('delete')}}
      q-icon(name="ion-add-circle-outline")
    q-item.text-capitalize(
      :clickable="!loading"
      :active="active"
      :active-class="activeClass"
      @click="onClick"
      v-ripple="!loading"
    )
      q-item-section.overflow-hidden
        template(v-if="loading")
          q-skeleton.text-skeleton(type="text")
        template(v-else)
          span.overflow-hidden.ellipsis.full-width {{title}}
            q-tooltip {{title}}
      q-item-section(side)
        template(v-if="loading")
          q-skeleton(type="QChip")
        template(v-else)
          q-chip(:label="myCount" :color="active ? 'white' : ''")
</template>

<style lang="stylus">
  .text-skeleton
    height 36px
</style>

<i18n src="./LabelNavigationItem.json"></i18n>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator'
  import {Item} from './types'

  /**
   * @displayName Label Navigation Item
   */
  @Component
  export default class LabelNavigationItem extends Vue implements Item {
    /**
     * Date ID
     */
    @Prop({required: true, type: String}) id: string

    /**
     * Label title
     */
    @Prop({required: true, type: String}) title: string

    /**
     * Number of notes with the the label
     */
    @Prop({default: () => ([]), type: Array}) memos: any[]

    /**
     * Show skeleton
     */
    @Prop({default: true, type: Boolean}) loading: boolean

    /**
     * Show active color
     */
    @Prop({default: false, type: Boolean}) active: boolean

    /**
     * The activation background color
     */
    @Prop({default: 'primary', type: String}) activeBackgroundColor: string

    @Prop({type: Number}) count: number

    /**
     * Return active style classes
     */
    get activeClass() {
      return `bg-${this.activeBackgroundColor} text-white`
    }

    get myCount() {
      return this.count || this.memos.length
    }

    onClick() {
      this.$emit('click', this.id)
    }

    onDelete() {
      this.$emit('delete', this.id)
    }
  }
</script>
