<template lang="pug">
  q-page(padding)
    q-card(v-if="memo")
      q-card-section
        .row.no-wrap
          .col
            .text-h6  {{memo.title}}
              q-popup-edit(:value="memo.title")
                q-input(:value="memo.title" dense borderless autofocus  @change="onUpdateTitle")
            .text-subtitle2 {{$t('updateAt')}} {{memo.updatedAt | formatDate}}
          .col-auto
            q-btn(:label="$t('delete')" @click="onDelete")

      q-card-section
        q-input(outlined type="textarea" :value="memo.content" @input="onUpdateContent")
      q-card-actions
        q-chip(icon="ion-add-circle-outline" :label="$t('add')" clickable)
          q-popup-proxy
            q-chip(
              v-for="(item) in labelNames"
              :key="item._id"
              :label="item.title"
              @click="onAddLabel(item._id)"
              clickable
            )
        q-chip(
          v-for="(item, key) in labels"
          :key="key"
          :label="item"
          removable
          @remove="onDeleteLabel(key)"
        )
</template>

<i18n src="./Index.json"/>

<style lang="stylus">
</style>

<script lang="ts">
  import formatDate from '@/filters/format-date'
  import {ResponseMemo} from '@/store/modules/memos'
  import {Component, Vue, Prop} from 'vue-property-decorator'
  import {namespace} from 'vuex-class'
  import {debounce} from 'lodash'

  const memos = namespace('memos')
  const labels = namespace('labels')

  @Component({
    filters: {
      formatDate,
    },
  })
  export default class IndexPage extends Vue {
    @Prop({default: 700}) debounceWait: number
    @memos.State('currentMemoId') id: string | null
    @memos.Getter('currentMemo') memo: ResponseMemo
    @memos.Action('deleteMemoById') deleteMemoById: (memoId) => Promise<void>
    @memos.Action('updateMemo') updateMemo: (payload: any) => Promise<any>
    @memos.Action('addLabel') addLabel: (payload: { memoId: string, labelId: string }) => Promise<any>
    @labels.Getter('memoLabels') memoLabels: Record<string, any>
    @labels.Getter('labelNames') labelNames: ({ _id: string, title: string })[]
    @memos.Action('deleteLabel') deleteLabel: (payload: { memoId: string, labelId: string }) =>
      Promise<any>

    meta: {}

    debounce: any = null

    created() {
      this.debounce = debounce(this.debounceUpdateContent, this.debounceWait)
    }

    debounceUpdateContent(value) {
      this.updateMemo({_id: this.id, content: value})
    }

    onUpdateContent(value) {
      this.debounce(value)
    }

    get labels() {
      const {memoLabels, id} = this
      if(!memoLabels || !id) {
        return {}
      }
      return memoLabels[id]
    }

    onAddLabel(labelId) {
      const {id} = this
      if(!id) {
        return
      }
      this.addLabel({memoId: id, labelId})
    }

    onDeleteLabel(labelId) {
      const {id} = this
      if(!id) {
        return
      }
      this.deleteLabel({memoId: id, labelId})
      //empty
    }

    onUpdateTitle(event) {
      const {value} = event.target
      this.updateMemo({_id: this.id, title: value})
    }

    onDelete() {
      this.deleteMemoById(this.memo._id)
    }

  }
</script>
