<template lang="pug">
  q-list
    q-item.overflow-auto
      q-item-section
        q-item-label
          span.text-capitalize.text-h6.text-no-wrap.ellipsis {{title}}
            q-popup-edit(v-if="title" :value="title")
              q-input(:value="title" dense borderless autofocus @change="onUpdateTitle")
    q-item
      q-space
      q-item-section(side)
        q-btn-group
          q-btn(:label="$t('label-add')")
            q-popup-proxy
              q-chip(v-for="item in labelNames" :label="item.title" :key="item._id" clickable
              @click="onAddLabel(item._id)")
    q-separator(spaced)
    memo-navigation-item(
      v-for="(item, key) in items"
      v-bind="item"
      :loading="loading"
      :active="key === activeId"
      @click="onSelect"
      @check="onCheck(key, $event)"
      :key="key"
      :id="key"
    )
    q-item(clickable v-ripple @click="onAdd")
      q-item-section(avatar)
        q-icon(name="ion-add-circle-outline")
      q-item-section {{$t('add-memo')}}
</template>

<style lang="stylus" scoped>
</style>

<i18n src="./MemoNavigation.json"/>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator'
  import {Item} from './types'

  @Component({
    components: {
      MemoNavigationItem: () => (import('./MemoNavigationItem.vue')),
    },
  })
  export default class MemoNavigation extends Vue {
    @Prop({type: String}) id: string
    @Prop({required: true, type: String}) title: string
    @Prop({default: false, type: Boolean}) loading: boolean
    @Prop({type: Object}) items: Record<string, Item>
    @Prop({default: 4}) placeholderCount: number
    @Prop({default: () => ([])}) labelNames: ({ _id: string, title: string })[]
    @Prop() activeId: string | null

    checkList: Record<string, string> = {}

    onSelect(memoId) {
      this.$emit('select', memoId)
    }

    onAddLabel(labelId) {
      this.$emit('add-label', {
        labelId,
        memoIds: Object.keys(this.checkList),
      })
    }

    onUpdateTitle(event) {
      const {id} = this
      const {value} = event.target
      this.$emit('change', {id, title: value})
    }

    onCheck(key, value) {
      if(!value) {
        Vue.delete(this.checkList, key)
        return
      }
      Vue.set(this.checkList, key, 'check')
    }

    onAdd() {
      this.$emit('add', this.id)
    }
  }
</script>
