<template lang="pug">
  q-item(
    :clickable="!loading"
    :active="active"
    :active-class="activeClass"
    v-ripple="!loading"
    @click="onClick"
  )
    q-item-section(side)
      template(v-if="loading")
        q-skeleton.checkbox-skeleton(type="rect")
      template(v-else)
        q-checkbox(:dark="active" :color="checkboxColor" :value="myCheck" @input="onCheck")
    q-item-section
      template(v-if="loading")
        q-skeleton(type="text")
      template(v-else)
        q-item-label.overflow-hidden.ellipsis.full-width {{title}}
          q-tooltip {{title}}
      template(v-if="loading")
        q-skeleton.description-skeleton(type="text")
      template(v-else)
        q-item-label(
          caption
          :class="active && 'color-inherit'"
        ).overflow-hidden.ellipsis {{content}}
          q-tooltip {{content}}
    q-item-section.color-inherit(side top)
      template(v-if="loading")
        q-skeleton.date-skeleton(type="text")
      template(v-else)
        span() {{updatedAt | formatDate}}
</template>

<style lang="stylus" scoped>
  .checkbox-skeleton
    width 40px
    height 40px

  .description-skeleton
    height 16px

  .date-skeleton
    width 70px

  .color-inherit
    color inherit
</style>

<script lang="ts">
  import formatDate from '@/filters/format-date'
  import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
  import {Item} from './types'

  /**
   * @displayName Note Navigation Item
   */
  @Component({
    filters: {
      formatDate,
    },
  })
  export default class MemoNavigationItem extends Vue implements Item {
    @Prop({required: true, type: String}) id: string
    @Prop({required: true, type: String}) title: string
    @Prop({required: true, type: String}) content: string
    @Prop({required: true, type: String}) createdAt: string
    @Prop({required: true, type: String}) updatedAt: string
    @Prop({default: false, type: Boolean}) check: boolean
    @Prop({default: true, type: Boolean}) loading: boolean
    @Prop({default: false, type: Boolean}) active: boolean
    @Prop({default: 'primary', type: String}) activeBackgroundColor: string

    myCheck: boolean = false

    get activeClass() {
      return `bg-${this.activeBackgroundColor} text-white`
    }

    get checkboxColor() {
      return this.active ? 'black' : this.activeBackgroundColor
    }

    get activeFontClass() {
      return 'text-white'
    }

    @Watch('check', {immediate: true})
    __check(value) {
      this.myCheck = value
    }

    onCheck(value) {
      this.myCheck = value
      this.$emit('check', value)
    }

    onClick() {
      this.$emit('click', this.id)
    }
  }
</script>

