doctype html
html
  head
    title=htmlWebpackPlugin.options.productName
    meta(charset="utf-8")
    meta(name="description" content="htmlWebpackPlugin.options.productDescription")
    meta(name="format-detection" content="telephone=no")
    meta(name="msapplication-tap-highlight" content="no")
    meta(
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")
    link(rel="icon" href="statics/quasar-logo.png" type="image/x-icon")
    link(rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png")
  body
    noscript
      strong We're sorry but winter-love doesn't work properly without JavaScript enabled. Please
      | enable it to continue.
    // DO NOT touch the following DIV
    #q-app
