<template lang="pug">
  q-layout(:view="view" :style="{height: `${$q.screen.height}px`}")
    q-drawer(
      :value="true"
      behavior="desktop"
      show-if-above elevated
    )
      label-navigation(
        :items="labels"
        :loading="labelLoading"
        :total="totalMemos"
        @click="onLabelClick"
        @create="onCreateLabel"
        @delete="onLabelDelete"
      )
    q-page-container(style="height: 100%")
      q-layout(container)
        q-drawer(
          :value="Boolean(selectedLabelId)"
          behavior="desktop"
          persistent elevated
        )
          memo-navigation(
            v-if="selectedLabelId"
            :id="selectedLabelId"
            :title="selectedLabel ? selectedLabel.title : ''"
            :items="selectedLabelId === 'ALL' ? allMemos : memos"
            :loading="memosLoading"
            :labelNames="labelNames"
            :activeId="currentMemoId"
            @add-label="onAddLabel"
            @select="onMemoSelect"
            @change="onLabelChange"
            @add="onMemoAdd"
          )
        q-page-container
          router-view

</template>

<script lang="ts">
  import {GetLabelListPayLoad, Label} from '@/store/modules/labels'
  import {Memo} from '@/store/modules/memos'
  import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
  import {namespace} from 'vuex-class'

  const labels = namespace('labels')
  const memos = namespace('memos')
  const ALL_LABEL = 'ALL'

  @Component({
    components: {
      LabelNavigation: () => (import('@/components/label-navigation/LabelNavigation.vue')),
      MemoNavigation: () => (import('@/components/memo-navigation/MemoNavigation.vue')),
    },
    filters: {
      unKnown(value: string) {
        if(value) {
          return value
        }
        return 'unknown'
      },
    },
  })
  export default class IndexLayout extends Vue {
    @Prop({default: 'lHh Lpr fff'}) view: string
    @labels.State('labels') labels: Record<string, Label> | null
    @labels.State('loading') labelLoading: boolean
    @labels.Action('getLabelList') getLabelList: (payload?: GetLabelListPayLoad) => Promise<any>
    @memos.State('memos') memos: Record<string, Memo> | null
    @memos.State('allMemos') allMemos: Record<string, Memo> | null
    @memos.State('loading') memosLoading: boolean
    @memos.Action('getMemoByLabel') getMemoByLabel: (labelId: string) => Promise<any>
    @memos.Action('createEmptyMemo') createEmptyMemo: (labelId?: string) => Promise<any>
    @memos.Action('getMemoById') getMemoById: (memoId: string) => void
    @memos.Getter('totalMemos') totalMemos: number
    @memos.Mutation('changeCurrentMemoId') changeCurrentMemoId: (memoId: string) => void
    @memos.State('currentMemoId') currentMemoId: string | null
    @memos.Action('getAllMemos') getAllMemos: () => Promise<any>
    @labels.Getter('labelNames') labelNames: ({ _id: string, title: string })[]
    @labels.Action('addLabel') addLabel: (payload: {labelId: string, memoIds: string[]}) => Promise<any>
    @labels.Action('createLabel') createLabel: (title: string) => Promise<any>
    @labels.Action('updateLabel') updateLabel: (payload: {title: string}) => Promise<any>
    @labels.Action('deleteLabel') deleteLabel: (labelId: string) => Promise<any>

    labelMini: boolean = false
    memoLoading: boolean = true
    open: boolean = true
    version: string = 'version'
    selectedLabelId: string | null = null
    myMemos: Record<string, Memo> | null = null
    memosTitle: string = ''

    @Watch('$route')
    __route(value) {
      const {memoId} = value.query
      if(memoId && this.currentMemoId !== memoId) {
        this.changeCurrentMemoId(memoId)
      }
    }

    onAddLabel(payload) {
      this.addLabel(payload)
    }

    onMemoSelect(memoId) {
      this.$router.push({
        query: {memoId},
      }).catch(() => {
        // ignore duplication
      })
      this.changeCurrentMemoId(memoId)
      this.getMemoById(memoId)
    }

    onLabelDelete(labelId) {
      this.deleteLabel(labelId)
    }

    onCreateLabel(value) {
      this.createLabel(value)
    }

    onLabelChange(value) {
      this.updateLabel(value)
    }

    onMemoAdd(labelId) {
      if(labelId === ALL_LABEL) {
        this.createEmptyMemo()
        return
      }
      this.createEmptyMemo(labelId)
    }

    get selectedLabel() {
      const {selectedLabelId, labels} = this
      if(!selectedLabelId || !labels) {
        return {}
      }
      const selectedObject = labels[selectedLabelId]
      if(selectedObject) {
        return selectedObject
      }
      return  {}
    }

    onLabelClick(id) {
      if(!this.labels) {
        return
      }
      this.selectedLabelId = id
      if(id === ALL_LABEL) {
        this.getAllMemos()
        this.memosTitle = String(this.$t('all'))
        return
      }
      const selectedObject = this.labels[id]
      if(selectedObject) {
        this.getMemoByLabel(id)
        this.memosTitle = selectedObject.title
        return
      }
      this.selectedLabelId = null
    }

    containerStyle(offset) {
      return {minHeight: offset ? `calc(100vh - ${offset}px)` : '100vh'}
    }

    created() {
      this.getLabelList()
      this.getAllMemos()
    }
  }
</script>

<style lang="stylus" scoped>
</style>
